body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    background-color: rgb(26, 25, 25);
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1100px;
}
.headbox{
    background-color: #1F2937;
    padding: 16px 75px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 1000;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.subheadbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
}
.leftbox{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    justify-content: center;
    flex: 0 0 auto;
}
.lboxhtext{
    color: #F9FAF8;
    font-size: 48px;
    font-weight:900;

}
.leftbox p{
    font-size: 18px;
    color: #E5E7EB;
    /* padding-right: 16px; */
    margin-right: 16px;
}
.rightbox{
    display: flex;
    width: 500px;
    height: 250px;
    background-color: hsl(0, 0%, 43%);
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    flex: 0 0 auto;
    margin-left: 50px;
}
ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 24px;
}
a{
    text-decoration: none;
    color:#F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    width: fit-content;
    background-color: #3882F6;
    border-radius: 10px 10px;
    font-size: large;
    color: #F9FAF8;
    border-color: #3882F6;
    font-weight:600;
    padding: 8px 16px;
}
.mid1box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:#F9FAF8;
    padding: 16px 75px;   
}
.mid1heading{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 16px 0px 8px;
}
.deck{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin: 50px 0px 110px;
    flex: 0 0 auto;
}
.card{
    width: 170px;
    height: 170px;
    padding: 16px;
    text-align: center;  
}
.cardimg{
    width: 160px;
    height: 170px;
    border-radius: 10px;
    border: 4px solid #3882F6;
}

.mid2box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 16px 75px;   
}
.quote{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 700px;
    height: 250px;
    font-size: 36px;
    padding: 44px 44px;
    
}
.quote .text{
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}
.author{
    margin-left: auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 800;
}
.mid3box{
    background-color:#F9FAF8;
    padding: 60px 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actionbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 30px 100px;
    color:#F9FAF8;
    flex: 1;
}
.leftaction h5{
    margin: 0;
    padding: 0;
    font-size: large;
}
.leftaction p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.secondbutton{
    font-size: 12px;
    padding: 4px 12px;
    border: 2px solid white;
}
.leftaction{
    width: 400px;
    flex: 0 0 auto;
}
.rightaction{
    width: 100px;
    flex: 0 0 auto;
}
.footbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}
.footbox div{
    font-size: 14px;
    color:#F9FAF8;
    padding: 30px 0px;
}
